.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main-image {
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  text-align: center;
}

.centred {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-style: bolder;
  color: white;
}
.btn1 {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-style: normal;
  color: white;
  background: #8a2b06;
  border: 1px solid #8a2b06;
  border-radius: 8px;
  padding: 10px 10px;
}
.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  opacity: 97%;
  position: relative;
}

@media (max-width:480px){
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 5rem;
    background-color: #8a2b06;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  .main-image {
    width: 100%;
    height: 1100px;
    z-index: 0;
    overflow: hidden;
    text-align: center;
  }
  
  .centred {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-style: bolder;
    color: white;
  }
  .btn1 {
    position: absolute;
    top: 90%;
    left: 45%;
    transform: translate(-30%, -30%);
    font-size: 20px;
    font-style: normal;
    color: white;
    background: #8a2b06;
    border: 1px solid #8a2b06;
    border-radius: 8px;
    padding: 10px 10px;
  }
  .main-image img {
    width: 110%;
    height: 100%;
    /* object-fit: cover; */
    filter: brightness(0.5);
    opacity: 97%;
    position: relative;
  }
}
@media (min-width: 481px) and (max-width:760px){
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 5rem;
    background-color: #8a2b06;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  .main-image {
    width: 100%;
    height: 1100px;
    z-index: 0;
    overflow: hidden;
    text-align: center;
  }
  
  .centred {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-style: bolder;
    color: white;
  }
  .btn1 {
    position: absolute;
    top: 120%;
    left: 47%;
    transform: translate(-30%, -30%);
    font-size: 20px;
    font-style: normal;
    color: white;
    background: #8a2b06;
    border: 1px solid #8a2b06;
    border-radius: 8px;
    padding: 10px 10px;
  }
  .main-image img {
    width: 110%;
    height: 100%;
    /* object-fit: cover; */
    filter: brightness(0.5);
    opacity: 97%;
    position: relative;
  }
}
@media (min-width: 761px) and (max-width:1279px){
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 5rem;
    background-color: #8a2b06;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  .main-image {
    width: 100%;
    height: 1100px;
    z-index: 0;
    overflow: hidden;
    text-align: center;
  }
  
  .centred {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-style: bolder;
    color: white;
  }
  .btn1 {
    position: absolute;
    top: 90%;
    left: 47%;
    transform: translate(-30%, -30%);
    font-size: 20px;
    font-style: normal;
    color: white;
    background: #8a2b06;
    border: 1px solid #8a2b06;
    border-radius: 8px;
    padding: 10px 10px;
  }
  .main-image img {
    width: 110%;
    height: 100%;
    /* object-fit: cover; */
    filter: brightness(0.5);
    opacity: 97%;
    position: relative;
  }
}
@media (min-width:1024px) and (max-width:1024px)
{
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: #8a2b06;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  
  .main-image {
    width: 100%;
    height: 1100px;
    z-index: 0;
    overflow: hidden;
    text-align: center;
  }
  
  .centred {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-style: bolder;
    color: white;
  }
  .btn1 {
    position: absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: normal;
    color: white;
    background: #8a2b06;
    border: 1px solid #8a2b06;
    border-radius: 8px;
    padding: 10px 10px;
  }
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    opacity: 97%;
    position: relative;
  }
}