body {
    height: 100%;
}

#sidebar {
    height: 1100px;
    background: green;
    text-align: center;
    color: black;
    padding: 15px;
    position: fixed;
}
.table {
    width: 1000px; 
   height: auto;
   /* margin-top: 15px; */
   background-color: white;
   /* border: 2px solid #8a2b06; */
   border-collapse: collapse;
   margin-left: 85px;
 }
 
 thead,th {
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #8a2b06;
   border-collapse: collapse;
   padding: 2px 3px;
   justify-content: center;
   /* border: 2px solid #8a2b06; */
 }
 tbody,tr,td {
   padding: 2px 3px;
   border-collapse: collapse;
   font-size: 20px;
   text-align: center;
   /* border-bottom: 3px; */
   color: #8a2b06;
   /* border: 2px solid #8a2b06; */
 }
 

 .container {
    
    /* width: 1000px; */ 
    /* height: auto; */
    margin-left: 190px;
    /* margin: auto 0px; */
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    grid-gap: 1em 1em;
    gap: 1em 1em;
    /* margin: auto; */
    /* background-color: #8a2b06;
  }
  .card_container {
    width: fit-content;
    height: fit-content;
  }
  .card-title {
    color: black;
    font-size: 25px;
  }
  .card-img-top {
    /* width: 300px; */
    height: 250px;
    /* padding-right: 16px; */
  }
  .card h4 {
    color: white;
    font-size: 20px;
  }
  .card {
    margin-top: 5%;
    /* margin-bottom: 3%;
     padding-bottom: 2%; */
    height: 468px;
    width:290px;
    /* width: 300px; */
    padding: 0px 0px 0px 0px;
    background-color: #8a2b06;
  }
  .card-title {
    color: white;
  }
  .card-subtitle {
    padding: auto;
    color: black;
    font-size: 20px;
  }
  .cardprice {
    float: right;
  }
  .option1 {
    color: #8a2b06;
    font-size: 20px;
  }
  .cartpage {
    float: right;
    /* margin-right: 120px; */
    font-size: 30px;
    text-decoration: none;
    color: #8a2b06;
  }
  .img1 {
    width: 30px;
    height: 30px;
  }
  
  .filter_cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }
  .adminedit, .admindelete {
    background-color: white;
    color: #8a2b06;
    font-weight: bolder;
  }
  
  .adminbtns{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .addItemAdmin{
    float: right;
    background-color: #8a2b06;
    color: white;
    width: 120px;
  }