body {
    height: 100%;
}
#sidebar_admin{
  width: 200px;
  background-color: #8a2b06;
  color: white
}
#sidebar {
    height: 1100px;
    background: green;
    text-align: center;
    color: black;
    padding: 15px;
    position: fixed;
}
.table {
    width: 1000px; 
   height: auto;
   background-color: white;
   border-collapse: collapse;
   margin-left: 85px;
 }
 
 thead,th {
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #8a2b06;
   border-collapse: collapse;
   padding: 2px 3px;
   justify-content: center;
 }
 tbody,tr,td {
   padding: 2px 3px;
   border-collapse: collapse;
   font-size: 20px;
   text-align: center;
   /* border-bottom: 3px; */
   color: #8a2b06;
   /* border: 2px solid #8a2b06; */
 }
 

 .container {
    margin-left: 190px;
    /* margin: auto 0px; */
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    grid-gap: 1em 1em;
    gap: 1em 1em;
    /* margin: auto; */
    /* background-color: #8a2b06;
  }*/
}
 
  .card h4 {
    color: white;
    font-size: 20px;
  }
  .card {
    margin-top: 5%;
    /* margin-bottom: 3%;
     padding-bottom: 2%; */
    height: 468px;
    width:290px;
    /* width: 300px; */
    padding: 0px 0px 0px 0px;
    background-color: #8a2b06;
  }
  .card-title {
    color: white;
  }
  .card-subtitle {
    padding: auto;
    color: black;
    font-size: 20px;
  }
  .cardprice {
    float: right;
  }
  .option1 {
    color: #8a2b06;
    font-size: 20px;
  }
  .cartpage {
    float: right;
    /* margin-right: 120px; */
    font-size: 30px;
    text-decoration: none;
    color: #8a2b06;
  }
  .img1 {
    width: 30px;
    height: 30px;
  }
  
  .filter_cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }
  .adminedit, .admindelete {
    background-color: white;
    color: #8a2b06;
    font-weight: bolder;
  }
  
  .adminbtns{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .addItemAdmin{
    float: right;
    background-color: #8a2b06;
    color: white;
    width: 120px;
  }
  #additem{
    width:800px;
    margin-left: 360px;
  }
  #edititem{
    width:800px;
    margin-left: 360px;
  }
  @media (max-width:480px){
  }
  @media (min-width: 481px) and (max-width:760px){
  }
  @media (min-width: 761px) and (max-width:1279px){
    #sidebar_admin{
      width: 200px;
      background-color: #8a2b06;
      color: white
    }
    #additem{
      width:600px;
      margin-left: 180px;
    }
    #edititem{
      width:600px;
      margin-left: 180px;
    }
  }
  @media (min-width:1024px) and (max-width:1024px){
    body {
      height: 100%;
  }
  
  #sidebar {
      height: 1100px;
      background: green;
      text-align: center;
      color: black;
      padding: 15px;
      position: fixed;
  }
  .table {
      width: 1000px; 
     height: auto;
     background-color: white;
     border-collapse: collapse;
     margin-left: 85px;
   }
   
   thead,th {
     font-size: 25px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: #8a2b06;
     border-collapse: collapse;
     padding: 2px 3px;
     justify-content: center;
   }
   tbody,tr,td {
     padding: 2px 3px;
     border-collapse: collapse;
     font-size: 20px;
     text-align: center;
     /* border-bottom: 3px; */
     color: #8a2b06;
     /* border: 2px solid #8a2b06; */
   }
   
  
   .container {
    margin-left: 120px;
    /* margin: auto 0px; */
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    /* margin: auto; */
  }
   
    .card h4 {
      color: white;
      font-size: 20px;
    }
    .card {
      margin-top: 5%;
      /* margin-bottom: 3%;
       padding-bottom: 2%; */
      height: 468px;
      width:290px;
      /* width: 300px; */
      padding: 0px 0px 0px 0px;
      background-color: #8a2b06;
    }
    .card-title {
      color: white;
    }
    .card-subtitle {
      padding: auto;
      color: black;
      font-size: 20px;
    }
    .cardprice {
      float: right;
    }
    .option1 {
      color: #8a2b06;
      font-size: 20px;
    }
    .cartpage {
      float: right;
      /* margin-right: 120px; */
      font-size: 30px;
      text-decoration: none;
      color: #8a2b06;
    }
    .img1 {
      width: 30px;
      height: 30px;
    }
    
    .filter_cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      align-items: center;
    }
    .adminedit, .admindelete {
      background-color: white;
      color: #8a2b06;
      font-weight: bolder;
    }
    
    .adminbtns{
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
    }
    .addItemAdmin{
      float: right;
      background-color: #8a2b06;
      color: white;
      width: 120px;
    }
    #additem{
      width:800px;
      margin-left: 230px;
    }
    #edititem{
      width:800px;
      margin-left: 230px;
    }
  }